.s-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
}
.s-page .go-schedule {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    font-size: 1rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.s-page .go-schedule img {
    width: 20px;
}
h2 {
    width: '100%';
    text-align: 'center';
}