.rp-page {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rp-page .form {
    width: 400px;
    margin-bottom: 100px;
    box-shadow: 0 0 10px 3px rgba(210, 210, 210, 0.858);
    background-color: white;
    padding: 30px;
}

.rp-page .form h2 {
    width: 100%;
    text-align: center;
}

.rp-page .form #newp {
    padding: 8px 12px;
    font-size: 0.95rem;
}

.rp-page .form .sbutton {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 1rem;
    text-shadow: none;
}
.rp-page .reset-result {
    margin: auto;
}
.rp-page .reset-result div {
    font-size: 1rem;
}
.rp-page .reset-result .ant-result-icon {
    width: 100px;
    margin: auto;
}